* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right bottom,#672280,#A626D3);
  height: 65px;
 color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 30px;
}

.header--title{
  font-size: 1.9rem;
}

.header--project{
  font-size: 0.875rem;
  font-weight: 500;
}
