* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right bottom,#672280,#A626D3);
  height: 65px;
 color: white;

}

.header--title{
  font-size: 1.9rem;
  text-align: center;
  vertical-align: middle;
  line-height: 65px;

    

}


